body {
  text-align: justify;
  font-size: 1.2em;
  font-family: 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
  line-height: 1.4em;
  margin: 4em;
}

.logo {
    margin: 1em;
    padding: 0.2em;
    width: 20%;
}

div#nav {
    width: 20%;
    display: inline-block;
}

h1, h2 {
    color: #97BF0D;
    margin-top: 2em;
    text-align: center;
}

a {
    text-decoration: none;
    color: #97BF0D;
}
