colorlog==3.2.0
Flask==2.3.2
Flask-Cors==3.0.9
Flask-RESTful==0.3.6
flask-restful-swagger-2==0.35
gunicorn==19.7.1
jsonmodels==2.3
peewee==3.2.2
pip==21.1
psycopg2-binary==2.7.4
requests==2.31.0
setuptools==65.5.1
xmltodict==0.11.0
pyscaffold==3.0.3
pytest-cov==2.5.1
